#root {
  padding: 0 !important;
  margin: 0;
}

@font-face {
  font-family: 'CustomFont';
  src: url(src\assets\Jacquard_12_Charted\Jacquard12Charted-Regular.ttf) formate
  ('truetype');
}

@import "tailwindcss";

/* @layer base {
  body {
    @apply bg-gray-200 text-gray-900 font-jacquard;
  }
} */

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-gray-900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

/* Animation applied to sidebar */
@layer components {
  .sidebar-item {
    @apply text-gray-200 text-lg px-4 py-2 rounded-xl hover:bg-black hover:text-green-600 hover:shadow-lg hover:shadow-green-600 transition-all transform hover:scale-105 hover:-translate-y-1;
  }
}